.list {
    margin: 0;
    padding: 5px 0 0 10px;
    list-style: none;
    border: 1px solid black;
    width: 100%;
}
.list li {
    padding-bottom: 7px;
}
.titles {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

.list li:hover {
    cursor: pointer;
}