.header {
    color: #fff;
    background-color: cornflowerblue;
    padding: 25px 50px;
    margin-bottom: 50px;
}
.logo {
    float: left;
    font-size: 25px;
    font-weight: bold;
}
.logo-link {
    text-decoration: none;
    color: #ffffff;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}